body{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}
.main img{
    max-height: 100vh;
    object-fit: contain;
    flex-grow: 1;
}
.main .container_form{
    flex-grow: 1;
    background-image: url('../images/auth_form_bg.png');
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.main .container_form h1{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
}

.main .container_form #email, #name, #password, #confirm_password, #name_umkm, #address, #phone{
    margin-bottom: 20px;
    width: 60%;
}
.main .container_form p{
    font-size: 13px;
    font-weight: 500;
}
.main .container_form #btn-auth{
    margin-top: 20px;
}
select {
    width: 65%;
}
input, select{
    padding: 12px 13px;
    font-size: 14px;
    border: 0.8px solid #d3d3d3;
    border-radius: 0.75rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
input:focus, select:focus{
    outline: none;
}
input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
}
button{
    background-color: #003466;
    padding: 8px;
    border: none;
    width: 100px;
    border-radius: 0.75rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
}